<footer class="footer">

	<div class="wrap">

		<div class="footer__content">




			<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

			<div class="footer__copyright">
				<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			</div>		
			<div class="mobile-buttons">
				<a href="/list/" class="btn btn-primary active" style="color:#faf9f9" role="button" aria-pressed="true">List view (rec. for mobile)</a>
			</div>

			{% include socials.html %}

		</div>

	</div>

</footer>