<div class="header__colorbar header__colorbar--bottom">
	{% for tc in site.data.settings.tag_colors %}
	{% assign tag_key = tc[0] %}
	{% assign tag_text = site.data.settings.tag_active_text[tag_key] | default: "#fff" %}
	<span data-tag="{{ tag_key }}" style="background:{{ tc[1] }}; color:{{ tag_text }}">
		<span class="header__colorbar__label">{{ site.data.settings.tag_labels[tag_key] | default: tag_key }}</span>
	</span>
	{% endfor %}
</div>

<footer class="footer">

	<div class="wrap">

		<div class="footer__content">




			<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

			<div class="footer__copyright">
				<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			</div>		
			<div class="mobile-buttons">
				<a href="/list/" class="btn btn-primary active" style="color:#faf9f9" role="button" aria-pressed="true">List view (rec. for mobile)</a>
			</div>

			{% include socials.html %}

		</div>

	</div>

</footer>