<ul class="socials">

	{% for name in site.data.settings.my_social_settings %}
	{% if name[1] != '' %}
	<li class="socials__item">
		<a href="{{ name[1] }}" target="_blank" class="socials__item__link" title="{{ name[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fas fa-{{ name[0] | replace: 'email', 'envelope' | replace: 'resume', 'file-alt'}}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }} ">
			<i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}

</ul>