// - - - - - - - - - - - - - - - - - -

// Socials

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Socials

.socials {
	list-style: none;
	margin-top: 20px;
}

.socials__item {
	display: inline-block;
	margin-left: 18px;
	right: 10%;
	scale: 125%;
	margin-top: 10px;

	&:first-child {
		margin-left: 0;
	}
}

.socials__item__link {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: $pink-white;
	font-size: 17px;
	line-height: 1;
	color: $background-color;

	@include mq(tabletp) {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}

	svg {
		color: $pretty-pink;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
	}

	&:hover {
		background: $accent-color;
		color: $background-color;
	}
}