---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<br>
		{% if page.date %}
		<span class="badge text-bg-info">{{page.date | date: "%Y"}}</span>
		{% endif %}
  
		{% if page.personal %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.personal }};color:{{ site.data.settings.tag_active_text.personal }}">Personal Project</span>
		{% endif %}
  
		{% if page.class %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.class }};color:{{ site.data.settings.tag_active_text.class }}">Class Project</span>
		{% endif %}
  
		{% if page.EMB %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.EMB }};color:{{ site.data.settings.tag_active_text.EMB }}">Embedded</span>
		{% endif %}
  
		{% if page.DSP %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.DSP }};color:{{ site.data.settings.tag_active_text.DSP }}">DSP</span>
		{% endif %}
  
		{% if page.PCBD %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.PCBD }};color:{{ site.data.settings.tag_active_text.PCBD }}">PCB Design</span>
		{% endif %}
  
		{% if page.WOOD %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.WOOD }};color:{{ site.data.settings.tag_active_text.WOOD }}">Woodworking</span>
		{% endif %}
  
		{% if page['3D-CAD'] %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors['3D-CAD'] }};color:{{ site.data.settings.tag_active_text['3D-CAD'] }}">3D CAD</span>
		{% endif %}
  
		{% if page.CS %}
		<span class="badge" style="background:{{ site.data.settings.tag_colors.CS }};color:{{ site.data.settings.tag_active_text.CS }}">CS</span>
		{% endif %}
		<p>{{ page.subtitle }}</p>
  
	</div>

</section>

<section class="single">

	{{ page.content }}

</section>