---
layout: default
---

<section class="intro">

	<div class="wrap", style="max-width:75%">

		<h1>{{ page.title }}</h1>
		<br>
		{% if page.date %}
		<span class="badge text-bg-info">{{page.date | date: "%Y"}}</span>
		{% endif %}
  
		{% if page.personal %}
		<a class="badge text-bg-primary" href="/list/?filter=personal">Personal Project</a>
		{% endif %}
  
		{% if page.class %}
		<a class="badge text-bg-secondary" href="/list/?filter=class">Class Project</a>
		{% endif %}
  
		{% if page.EMB %}
		<a class="badge text-bg-warning" href="/list/?filter=EMB">Embedded</a>
		{% endif %}
  
		{% if page.DSP %}
		<a class="badge text-bg-danger" href="/list/?filter=DSP">DSP</a>
		{% endif %}
  
		{% if page.PCBD %}
		<a class="badge text-bg-success" href="/list/?filter=PCBD">PCB Design</a>
		{% endif %}
  
		{% if page.WOOD %}
		<a class="badge text-bg-light" href="/list/?filter=WOOD">Woodworking</a>
		{% endif %}
  
		{% if page.CAD-3D %}
		<a class="badge text-bg-dark" href="/list/?filter=3D-CAD">CAD</a>
		{% endif %}
  
		{% if page.CS %}
		<a class="badge text-bg-dark" href="/list/?filter=CS">CS</a>
		{% endif %}
  
		<p>{{ page.subtitle }}</p>
	</div>

</section>

<section class="singles">

	{{ page.content }}

</section>